<div class="wrapper">
  {{partial "header"}}
  <main>
    <aside id="sidebar">
      sidebar
    </aside>
    <section id="content">
      {{outlet}}
    </section>
  </main>
  <footer>Footer</footer>
</div>
